In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

ModuleNotFoundError: No module named 'otter'

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

[https://github.com/ZoeZhouJ/eds220-hwk1]()

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

#### Preliminary data exploration 

_The dataset titled **Western Indian Ocean Coral Diversity** contains information on coral cover and coral genera in the Western Indian Ocean, collected through a rapid assessment method aimed at sampling coral bleaching. The data spans from 1998 to 2022 and includes variables related to climate change, water quality, and human resource management across 575 coral reef cells, each 6.25 kmÂ² in size, covering multiple countries and ecoregions such as Kenya, Tanzania, and Madagascar. The dataset comprises 35 variables, including coral taxa richness, habitat types, and several environmental and human influence metrics. The dataset was created by **Tim McClanahan** from the Wildlife Conservation Society, with **Nyawira Muthiga** as a co-investigator. Funding was provided by the United States Agency for International Development and the US Department of Interior. **Link to Archive**: [KNB Data Repository](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) **Date of Access**: October 11, 2024_

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# Read in data
coral_div = pd.read_csv('the URL goes here')
```

In [26]:
# Import package
import pandas as pd

In [26]:
# Read in data
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')
# Preview data
coral_div.head()

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [18]:
# print shape attributes of coral_div
coral_div.shape
# assign number of rows in `coral_div` to variable `rows`
rows = coral_div.shape[0]
# assign number of columns to variable
columns = coral_div.shape[1]
# print results
print('rows =', rows)
print('columns =', columns)

rows = 575
columns = 42

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [25]:
# display column names
coral_div_columns = coral_div.columns
print(coral_div_columns)

Index(['PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion',
       'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover',
       'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ',
       'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients',
       'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis',
       'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean',
       'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality',
       'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree',
       'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates'],
      dtype='object')

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [37]:
# Display column data types
coral_div_types = coral_div.dtypes
coral_div_types

PU_ID                    int64
PU_Lat                 float64
PU_Lon                 float64
Number_of_genera         int64
Country                 object
Ecoregion               object
Management              object
Habitat                 object
Observer                object
Depth                  float64
Coralcover               int64
SSTRateofRise          float64
PARmax                 float64
Calcite                float64
Dis_oxygen             float64
mean.waveNRJ           float64
Salinity_mean          float64
andrello_reef_value      int64
andrello_nutrients     float64
mean.npp               float64
TT_market_hrs          float64
TT_pop_hrs             float64
cumDHW                 float64
SST_Kurtosis           float64
SST_Median             float64
ChlorA_median          float64
andrello_sediments     float64
Current_vel_mean       float64
Diff_attenuation       float64
Grav_NP                float64
Grav_NC                float64
PH                     float64
SST_bimodality         float64
SST_Skewness           float64
ClimateStressModel     float64
Netflow                float64
Indegree               float64
Outdegree              float64
Retention              float64
min_yr                   int64
max_yr                   int64
no_replicates            int64
dtype: object

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [38]:
# update pandas option to display all columns
pd.set_option('display.max_columns', None)

# Assign the first 8 rows to a variable
first_8_rows = coral_div.head(9)

In [39]:
# View the dataframe 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,41,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.592692,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,49,0.021358,54.935499,0.001744,4.7540,2.857747,35.106329,0,2.645199,1150.677856,1.783333,0.333333,30.265219,-0.795494,27.525,0.656533,3224.024414,0.561659,0.10500,0.512126,19.634828,8.2185,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3
8,39,39.009337,-5.647518,30,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,6.5,49,0.021358,54.935499,0.001744,4.7540,2.857747,35.106329,0,2.645199,1150.677856,1.783333,0.333333,30.265219,-0.795494,27.525,0.656533,3224.024414,0.561659,0.10500,0.512126,19.634828,8.2185,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2010,2015,2

<!-- BEGIN QUESTION -->

e. some other inital information you are interested in.

In [42]:
# Get a summary of dataset 
coral_div.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PU_ID                575 non-null    int64
 1   PU_Lat               575 non-null    float64
 2   PU_Lon               575 non-null    float64
 3   Number_of_genera     575 non-null    int64
 4   Country              575 non-null    object
 5   Ecoregion            575 non-null    object
 6   Management           575 non-null    object
 7   Habitat              530 non-null    object
 8   Observer             575 non-null    object
 9   Depth                575 non-null    float64
 10  Coralcover           575 non-null    int64
 11  SSTRateofRise        575 non-null    float64
 12  PARmax               575 non-null    float64
 13  Calcite              575 non-null    float64
 14  Dis_oxygen           575 non-null    float64
 15  mean.waveNRJ         575 non-null    float64
 16  Salinity_mean        575 non-null    float64
 17  andrello_reef_value  575 non-null    int64
 18  andrello_nutrients   575 non-null    float64
 19  mean.npp             575 non-null    float64
 20  TT_market_hrs        575 non-null    float64
 21  TT_pop_hrs           575 non-null    float64
 22  cumDHW               575 non-null    float64
 23  SST_Kurtosis         575 non-null    float64
 24  SST_Median           575 non-null    float64
 25  ChlorA_median        575 non-null    float64
 26  andrello_sediments   575 non-null    float64
 27  Current_vel_mean     567 non-null    float64
 28  Diff_attenuation     575 non-null    float64
 29  Grav_NP              575 non-null    float64
 30  Grav_NC              575 non-null    float64
 31  PH                   575 non-null    float64
 32  SST_bimodality       575 non-null    float64
 33  SST_Skewness         575 non-null    float64
 34  ClimateStressModel   575 non-null    float64
 35  Netflow              575 non-null    float64
 36  Indegree             575 non-null    float64
 37  Outdegree            575 non-null    float64
 38  Retention            575 non-null    float64
 39  min_yr               575 non-null    int64
 40  max_yr               575 non-null    int64
 41  no_replicates        575 non-null    int64
dtypes: float64(30), int64(7), object(5)
memory usage: 188.8+ KB

In [41]:
# Count the number of unique values in each column
coral_div.nunique()

PU_ID                  304
PU_Lat                 152
PU_Lon                 217
Number_of_genera        37
Country                 11
Ecoregion                6
Management               4
Habitat                  6
Observer                16
Depth                  111
Coralcover              46
SSTRateofRise          283
PARmax                 221
Calcite                219
Dis_oxygen             187
mean.waveNRJ           237
Salinity_mean          226
andrello_reef_value    139
andrello_nutrients     165
mean.npp               197
TT_market_hrs          129
TT_pop_hrs              51
cumDHW                 283
SST_Kurtosis           283
SST_Median             193
ChlorA_median          283
andrello_sediments     180
Current_vel_mean       224
Diff_attenuation       165
Grav_NP                168
Grav_NC                169
PH                      62
SST_bimodality         282
SST_Skewness           283
ClimateStressModel     297
Netflow                126
Indegree               110
Outdegree              106
Retention              109
min_yr                  19
max_yr                  19
no_replicates           12
dtype: int64

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

_`int64` represents integer data consisting of only whole numbers, while `float64` represents floating-point numbers with decimals._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

_`coral_div['Country']` returns all country values from the 'Country' column regardless of repetitions, while `coral_div['Country].unique()'` returns only the distinct country names without repetitions._

In [45]:
# Display all value under 'Country' column
coral_div['Country']

0          Tanzania
1          Tanzania
2          Tanzania
3          Tanzania
4          Tanzania
           ...
570    South Africa
571    South Africa
572    South Africa
573    South Africa
574    South Africa
Name: Country, Length: 575, dtype: object

In [44]:
# Display unique value in 'Country' column
coral_div['Country'].unique()

array(['Tanzania', 'Mozambique', 'Kenya', 'Reunion', 'Comoros', 'Mayotte',
       'French Southern Territories', 'Madagascar', 'Seychelles',
       'South Africa', 'Mauritius'], dtype=object)

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [54]:
# Call value in 'Observer' column
coral_div['Observer']
# Find unique values in 'Observer' column
coral_div['Observer'].unique()
# Assign number of unique observers to a variable
unique_observers = coral_div['Observer'].nunique()
# Print results
print('unique_observers =', unique_observers)

unique_observers = 16

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

In [63]:
# Display result of expression
coral_div['Coralcover']>= 50

0      False
1      False
2      False
3      False
4      False
       ...
570    False
571    False
572    False
573    False
574    False
Name: Coralcover, Length: 575, dtype: bool

_`coral_div['Coralcover']>= 50` is a Pandas Series that contains boolean values. For each value in the 'Coralcover' column, the expression checks whether the value is greater than or equal to 50. If the conditon is met, it returns `True`, otherwise, it returns `False`._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

_`coral_div[coral_div['Coralcover'] >= 50]` selects and returns a subset of the `coral_div` Dataframe, where the coral cover percentage is at least 50%. In another words, the result only contains the rows where the condition (`Coralcover >= 50`) if `True`._

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [82]:
# Select rows where 'Country' is 'Tanzania' and 'Coralcover' is 30
coral_cover = coral_div[(coral_div['Country']=='Tanzania')&(coral_div['Coralcover']==30)]

In [83]:
# View the dataframe
coral_cover

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,30,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.4350,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,30,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.4350,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,30,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.4350,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,30,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.4350,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,30,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.4550,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,5008,39.570784,-5.354970,28,Tanzania,East African Coral Coast,Fished,Crest,Nyawira,6.0,30,0.013325,53.639000,0.000106,4.7440,5.800517,35.187199,0,0.064223,1121.913574,1.566667,0.283333,23.740171,-0.931926,26.0725,0.344744,10.725522,0.295404,0.05700,0.003271,11.079409,8.2140,0.486784,-0.084009,0.599250,-0.344817,47.50,35.75,421.75,2018,2018,2
386,5015,39.570784,-5.377479,38,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,8.0,30,0.013252,53.639000,0.000106,4.7440,0.054831,35.187199,0,0.064223,847.110779,1.750000,0.166667,23.437549,-0.930868,26.0450,0.270361,10.725522,0.295404,0.05700,0.019106,2.421541,8.2140,0.486772,-0.086887,0.590900,-0.344817,47.50,35.75,421.75,2018,2018,1
387,5021,39.548327,-5.399987,40,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,10.0,30,0.013786,53.639000,0.000106,4.7440,5.155359,35.187199,0,0.064223,847.110779,1.750000,0.166667,23.838450,-0.928067,26.1000,0.174198,10.725522,0.295404,0.05700,0.019106,2.421541,8.2140,0.486609,-0.092594,0.569900,-0.344817,47.50,35.75,421.75,2018,2018,1
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.0,30,0.015241,52.493000,0.000155,4.7485,8.124817,34.976822,0,0.104816,755.473267,2.066667,0.583333,26.566285,-0.935094,25.7150,0.158397,9.305736,0.406605,0.06250,0.003125,1.727036,8.2130,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.0,30,0.015241,52.493000,0.000155,4.7485,8.124817,34.976822,0,0.104816,755.473267,2.066667,0.583333,26.566285,-0.935094,25.7100,0.224526,9.305736,0.406605,0.06250,0.003125,1.727036,8.2130,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [91]:
# Select multiple columns
filtered_data = coral_div[['PH', 'Salinity_mean', 'Depth']]
# Notes to self: another way to select the same thing
# filtered_data = coral_div.loc[:, ['PH', 'Salinity_mean', 'Depth']]

In [92]:
# View the dataframe
filtered_data

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

In [103]:
# Filter data with sampling ended in 2017
sampling_2017 = coral_div[coral_div['max_yr'] == 2017][['PH','Salinity_mean','Depth']]

In [104]:
# View the dataframe 
sampling_2017

         PH  Salinity_mean      Depth
67   8.2150      35.100085  16.000000
68   8.2145      35.144927  10.000000
70   8.2150      35.101086  11.000000
71   8.2150      35.101086  11.000000
72   8.2150      35.101086   9.000000
73   8.2150      35.101086   9.000000
84   8.2110      35.278084  12.500000
85   8.2110      35.278084   6.000000
164  8.2220      35.337914   9.875000
167  8.2220      35.337914  12.075000
169  8.2220      35.337914  10.300000
172  8.2220      35.337914  11.000000
174  8.2225      35.287419   7.266667
176  8.2225      35.287419  13.225000
179  8.2225      35.287419  10.550000
182  8.2220      35.331669  12.033333
185  8.2230      35.374460  10.900000
188  8.2230      35.374460  14.725000
191  8.2230      35.247482   9.725000
194  8.2230      35.341358  11.075000
197  8.2230      35.390354  10.600000
346  8.2165      35.114244   7.000000
347  8.2165      35.112398   3.000000
348  8.2165      35.112398   4.000000
349  8.2160      35.117374   5.500000
350  8.2160      35.117374   2.000000
351  8.2160      35.117374  15.000000
352  8.2160      35.117374   5.000000
353  8.2165      35.149462  11.000000
354  8.2160      35.270199   9.000000
395  8.2400      35.276642   9.416667
559  8.2120      35.204185   1.500000
566  8.2400      35.301208  17.000000
569  8.2400      35.301208  13.833333
574  8.2400      35.301208  13.470000

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

In [117]:
subset = coral_div.iloc[95:101, [16, 19, 27]]

In [118]:
# View the dataframe
subset

     Salinity_mean     mean.npp  Current_vel_mean
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [142]:
# find Na values
subset.isna()

     Salinity_mean  mean.npp  Current_vel_mean
95           False     False             False
96           False     False             False
97           False     False             False
98           False     False             False
99           False     False              True
100          False     False              True

_`isna()` method detects which elements in the series are NAs. The output is a `pandas.Series` of boolean values indicating if an element in the row at the given index is NA (`True`) or not (`False`)_

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [128]:
# Check missing values in columns
subset.isna().any()

Salinity_mean       False
mean.npp            False
Current_vel_mean     True
dtype: bool

_The code `subset.isna().any()` checks if at least one missing values exist in each column of the subset dataframe with boolean values._

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [137]:
# Select rows with NA in
subset_na = subset[subset['Current_vel_mean'].isna()]

In [138]:
# View the dataframe 
subset_na

     Salinity_mean     mean.npp  Current_vel_mean
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN